aniso8601==9.0.0
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
ci-info==0.2.0
click==7.1.2
configobj==5.0.6
configparser==5.0.2
contextvars==2.4
cryptography==3.4.7
cymem==2.0.5
dataclasses==0.8
decorator==4.4.2
docx==0.2.4
docx2txt==0.8
en==0.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
etelemetry==0.2.2
filelock==3.0.12
fitz==0.0.1.dev2
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
greenlet==1.0.0
gunicorn==20.0.4
httplib2==0.19.1
idna==2.10
immutables==0.15
importlib-metadata==4.0.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.3
MarkupSafe==1.1.1
murmurhash==1.0.5
networkx==2.5.1
nibabel==3.2.1
nipype==1.6.0
nltk==3.6.2
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pathlib==1.0.1
pathy==0.5.2
pdfminer.six==20201018
peewee==3.14.1
Pillow==8.2.0
preshed==3.0.5
prov==2.0.0
psycopg2==2.8.6
pycparser==2.20
pydantic==1.7.3
pydot==1.4.2
PyMuPDF==1.18.13
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
pyxnat==1.4
rdflib==5.0.0
redis==3.5.3
regex==2021.4.4
requests==2.25.1
rq==1.8.0
scipy==1.5.4
simplejson==3.17.2
six==1.15.0
smart-open==3.0.0
sortedcontainers==2.3.0
spacy==3.0.6
spacy-legacy==3.0.5
SQLAlchemy==1.4.11
srsly==2.4.1
textblob==0.15.3
thinc==8.0.3
tqdm==4.60.0
traits==6.2.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.3
zipp==3.4.1
